* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
      height: 1000px;
      gap: 350px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    background-color: #e5f3fd;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
}