body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
      height: 1000px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 1px solid gray;
}